WG_FRIEND_DEFAULT_INTERFACE=wg0
WG_FRIEND_BORINGTUN_BIN=/usr/bin/boringtun-cli
WG_FRIEND_CONF_DIR=/etc/wireguard
WG_FRIEND_WG_RUN_DIR=/run/wireguard
WG_FRIEND_LOG_FILE=/var/log/wg-friend.log
WG_FRIEND_DEFAULT_ADDR=10.6.0.1/24
WG_FRIEND_DEFAULT_MTU=1420
WG_FRIEND_DEFAULT_CLIENT_DNS=10.6.0.1
WG_FRIEND_DEFAULT_CLIENT_ENDPOINT=CHANGE_ME:51820
WG_FRIEND_CLIENT_SUBDIR=clients
WG_LOG_LEVEL=info
WG_THREADS=2
WG_FRIEND_PROCESS_TIMEOUT_SECONDS=3
WG_FRIEND_INTERFACE_TIMEOUT_SECONDS=10
WG_FRIEND_UAPI_TIMEOUT_SECONDS=10
WG_FRIEND_READY_TIMEOUT_SECONDS=10
